/* --------------------------------

First Section

-------------------------------- */

.hero-logo {
    height: auto;
    /* background-size: contain; */
    position: relative;
    /* left: 43%; */
    top: 23%;
    width: 17em;
    margin: 0 auto;
}
@media screen only and (max-width)
