/* --------------------------------

First Section

-------------------------------- */

.hero-logo {
    height: auto;
    /* background-size: contain; */
    position: relative;
    /* left: 43%; */
    top: 15%;
    width: 17em;
    margin: 0 auto;
}
.row {
    max-width: 100%;
}
.row,
.column,
.columns {
    padding: 0;
}
.ss {
    height: 6em;
    background-color: white;
}
.thumbnail {
    border: 0;
}
.column {
    height: 12em;
}
.column:hover {
    opacity: 0.5;
}
.daya {
    background-image: url(../assets/foodtop/breakfast.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.biu {
    background-image: url(../assets/foodtop/lunch.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.uku {
    background-image: url(../assets/foodtop/dinner.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.ss:hover {
    /*    opacity: 0.5;*/
    background-color: #F15A29;
    color: white;
}
.daya p,
.biu p,
.uku p {
    color: white;
    position: relative;
    top: 45%;
    text-align: center;
}
.ss p {
    font-size: 1.5em;
    text-align: center;
    padding-top: 30px;
}
