/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Rows
  ========================================
*/

.row {
  background: #fff;
  min-width: 960px;
  padding: 66px 0 44px 0;
   
   background: -webkit-linear-gradient(to right bottom,  #d9d9d9, #ffffff);
   background: -moz-linear-gradient(to right bottom, #d9d9d9, #ffffff);
   background: linear-gradient(to right bottom, #d9d9d9, #ffffff);
   padding: 44px 0 22px 0;
}
.container{
    margin:auto;
    
    width:100%;
    
  
}
.stylez {
    
    
    background-image:  url(coffee-background.jpg);width: auto; height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
     
    
    
}
.finest-coffee{
    background-image: url(finest-coffee.jpg);width: auto; height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.container{
    margin: 0 auto;
    width: 960px;
}
.col-1-3{
    width: 
}
.banners{
    
    background-image: url(coffee-banner.jpg);width: auto; height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.offer{
   
    color: white;
}

.banners{
    position: relative;
    
   /* height: 300px;
    border: 3px solid #8AC007;
/*
padding-left: 20px;
padding-right: 20px;
    */
}

.offer {
    position: relative;
    bottom: 100px;
    width: 20%;
    height: auto;
    border: 2px solid #8AC007;
text-align:left;
margin: 0 70%;
}
.kofi-way{
    position: relative;
    display: inline-block;
    border: 3px solid #8AC007;
    width:  100%;
    height: 350px;
    
}
.center{
        position: relative;
    margin: 0 80%;
    border: 3px solid #8AC007;
    width: 20%;
    height: auto;
}
.drink{
  margin-left: 11%;
    width:25%
}
.way{
    
    width:10%
}
.drink,
.way{
    position: relative;
        display: inline-block;
        border: 3px solid #8AC007;
        bottom: 35%;
    font-size: 300%;

}
.kofi-cup{
    margin: 0 30%
        
    position: relative;
        display: inline-block;
        border: 3px solid #8AC007;
     /* margin: 0 55%; */

}

.kofi-sticker{
    position: absolute;
        display: inline-block;
        border: 3px solid #8AC007;
        bottom: 55%;
    margin: 0 8%; 
    color: white;
    font-size: 250%
        right: 51%;
}
.payment {
    background-image: url(moto-phone.png);
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    border: 3px solid #000;
    
}
.order{
    
     position: absolute;
    bottom: 0;
    width: 20%;
    height: auto;
    border: 2px solid #8AC007;
text-align:left;
margin: 0 70%;
}
.payment p{
    padding-right: 14%;
    padding-top: 9%;
    text-align: right;
    font-size: 2em;
} 
.contacts{
    padding-top: 20px;
    padding-bottom: 20px;
    
    width: 10%;
    display: inline-block;
    
}
.playstore{
    display: inline-block;
    border: solid;
    width: 20%
    
}
header{
    z-index: 2;
    width:100%;
    background-color: grey;
    position: fixed;
    object-position: top;
    color: aliceblue;
}
.pob {
   margin: 0 auto;
  width: auto;
    align-content: center;
    background-color: #FFFAE5;
}
.mee{
    background-color: white;
    height: auto;
    width: auto;
}
.apps {
    display: inline-block;
    margin-top: 5%;
    margin-left: 48%;
    
    width: 20%;
    padding-right: 20px;
    border: solid;
}
/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px; 
  text-transform: uppercase;
  /*text-align: right;*/
}